<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <img alt="logo" src="assets/imgs/logo.png" >
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <h2 class="text-center">Escribenos si deseas enterarte del ultimo capitulo</h2>

  <legend>Complete el formulario, toda la informacion sera confidencial</legend>
  <br>
  <form [formGroup]="contact_message" (ngSubmit)="ContactForm()">
    <ion-item>
      <ion-label stacked>Numero telefonico</ion-label>
      <ion-input type="tel" formControlName="number"></ion-input>
    </ion-item>
    <br><br>
    <button ion-button full color="green" type="submit" class="submit" [disabled]="!contact_message.valid">Enviar</button>
  </form>
</ion-content>
