.blue-contact.header {
  .toolbar {
    .toolbar-background {
      background: $blue;
    }
  }
}

.scroll-content {
  padding: 10px 15px 20px;
}

.success-page {
  text-align: center;

  img {
    display: block;
    margin: 60px auto 40px;
    max-width: 150px;
  }

  h2 {
    color: blue;
  }

}
