<ion-content>
  <div class="success-page">
    <img src="assets/images/ok.png" />
    <h2>Informacion<br>enviada</h2>
  </div>
  <br>
  <br>
  <br>
  <hr>
  <button ion-button (click)="dismiss()" full clear color="dark">
    Aceptar
  </button>

</ion-content>
