page-list {

}

ion-label {
  display: table-row;
  text-overflow: initial !important;
  white-space: initial !important;
}

.item {
  ion-avatar {
    img {
      width: 80px !important;
      height: 80px !important;
    }
  }
}

h2 {
  color: black;
  font-size: 3rem;
}
