<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <img alt="logo" src="assets/imgs/logo.png" >
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h2 class="text-center">Conoce un poco mas a los vecinos </h2>
  <ion-list>
    <p class="no-results" *ngIf="rows == 0">No se encontraron resultados</p>
    <ion-item *ngFor="let row of rows">
      <ion-avatar item-left>
        <img src="http://losvecinosserie.com/{{row.picture_url}}">
      </ion-avatar>
      <h2>{{row.name}}</h2>
      <p>{{row.description}}</p>
    </ion-item>
  </ion-list>

</ion-content>
