.background-black {
  background: black !important;
  color: white !important;
  .item {
    background: none;
    color: inherit;
  }
}

.reunion-items {
  ion-label {
    margin: 0;
  }

  .item-banner {
    margin: 20px 0;
    position: relative;

    .main-image {
      display: block;
      margin: 0 auto;
      max-width: 600px;
      opacity: .9;
      width: 100%;
    }

    label {
      color: white;
      font-size: 1.8rem;
      text-align: center;
    }
  }
}


.content {
  background-color: black;
  color: white;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;

  h1,
  h2,
  h3 {
    color: white;
    font-family: 'Covered By Your Grace', cursive;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  .scroll-content {
    background: inherit;
    color: inherit;
    padding: 0;
  }

  .text-center {
    text-align: center;
  }

}
