<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <img alt="logo" src="assets/imgs/logo.png" >
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event);">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <div class="background-black">
    <ion-list>
      <ion-item *ngFor="let row of rows"  (click)="openYoutubeVideo(row)">
        <div class="home-image-wrapper">
          <img src="http://losvecinosserie.com/{{row.picture_url}}" />
        </div>

        <div class="chapter-preview">
          <span>Capitulo de estreno  {{row.length}} min.</span>
          <h1>{{row.title}}</h1>
          <p class="summary-text">Sinopis</p>
          <p class="summary">{{row.content}}.</p>
          <a href="#" class="view-last-chapter">
            <img src="assets/imgs/call-to-action-header.png" title="Reproducir capitulo serie web Los Vecinos" />
          </a>
        </div>

      </ion-item>
    </ion-list>
  </div>
  <h2>Los Vecinos</h2>

  <p>
    Conozca a los Rodríguez, una familia de un barrio popular colombiano, integrada por Francisco, quien es un apasionado por el fútbol, ex jugador y entrenador del equipo del barrio, el Gaitán Fútbol Club; Margarita, su novia, quien sueña con una vida de glamour; Ricardo, el yerno de Francisco, que está sin camello, pero como buen colombiano se la rebusca a diario; Antonia, su esposa, una ama de casa dedicada y amorosa que se preocupa por todo; y la adolecente conflictiva del hogar, Camila.
    <br>
    Su cotidianidad se transforma el día en que descubren que son vecinos de una familia de guerrilleros. Sí, guerrilleros. ¿Cómo es convivir en el mismo barrio con una familia de guerrilleros? ¿Esta relación puede cambiar su tranquilidad? ¡Acompañe a los Rodríguez en la primera temporada de la serie web  Los Vecinos, una familia real!
  </p>

</ion-content>
