$white: #fff;
$white-hover: #f2f2f2;
$white-gray: #ddd;
$footer: #ae0502;
$header-titles: #2567a8;
$gray: #9b9cb1;
$gray-title: #474747;
$header-background: #294ce3;
$soft-black: #333;
$red: #830402;
$red-link: #ed1c24;
$black: #000;
$yellow: #aeaa0b;
$blue: #000299;
$black-beast: #666;
$green-success: #39b54a;
$error: #cc4b37;
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');
@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace');


.scroll-content {
  background: $white;
}

.view-last-chapter {
  display: block;
  margin-bottom: 30px;
  text-align: center;
}


page-home {
  color: $white;
}

.view-last-chapter {
  margin: 20px 0 0;
}

.bar-button-default-md,
.bar-button-clear-md-default,
.bar-button-md-default {
  color: $white;
}

.toolbar-background {
  background: $black;
  color: $white;
}

.toolbar-title {
  text-align: center;

  img {
    height: 60px;
  }
}

.home-image-wrapper {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

.background-black {
  background: black !important;
  color: white !important;
  .item {
    background: none;
    color: inherit;
  }
}

.item {
  background: black;
  color: white;
}

.test {
  button {
    margin-bottom: 10px;
  }

  button:first-child {
    .item-inner {
      border-bottom: 0;
      border-left: 5px solid;
      padding-left: 10px;
    }
  }

  button:nth-child(2) {
    .item-inner {
      border-bottom: 0;
      border-left: 5px solid $yellow;
      padding-left: 10px;
    }
  }

  button:nth-child(3) {
    .item-inner {
      border-bottom: 0;
      border-left: 5px solid $blue;
      padding-left: 10px;
    }
  }

  button:last-child {
    .item-inner {
      border-bottom: 0;
      border-left: 5px solid $red;
      padding-left: 10px;
    }
  }
}
